.mattresses-filter {
  input[type=checkbox] { margin-top: -1px; margin-right:5px; }
  .product-series-filter {
   li { float: left; min-width: 150px; list-style: none; }
  }
}

.clear { clear: both; }


